/doc/README-NintendulatorDX.txt
/msvc110-dx/Release
/msvc110-dx/Debug
/msvc110-dx/ipch
/releases
/src/Nintendulator.aps
/features-demo/obj
/msvc110-dx/Nintendulator.sdf
/msvc110-dx/Nintendulator.suo
/msvc110-dx/Nintendulator.v11.suo
/msvc110-dx/Nintendulator.vcxproj.user
/msvc110-dx/in_nintendulator.vcxproj.user
/features-demo/ndx-demo.nes
/features-demo/ndx-demo.nes.dbg
/features-demo/ndx-demo.nes.map
/features-demo/ndx-demo.nes.ndx
/features-demo/ndx-demo.nes.profiling.txt
/msvc110-dx/*.suo
/msvc110-dx/*.opensdf
